@media (max-width: 480px) { 
}

@media (max-width: 480px) { 
    #home-slider .carousel-control.right { background-position : -140px center; width : 50px; }
    #home-slider .carousel-control.left { background-position : 0 center; width : 50px; }
    #checkout-page a.pull-right { float : left !important; margin-top : 10px; }
    #top-part #adv-search1 .dropdown1.dropdown1-lg .dropdown1-menu {width:210px;}
    #shopping-cart .go-shop, #shopping-cart .go-checkout, #checkout-page .go-order, #checkout-page .go-shop {float:none; margin-bottom: 7px;}
}#notificator { display : block; left : 50%; margin-left : -100px; padding : 15px 25px; position : fixed; text-align : center; top : 20px; width : 200px; z-index : 5000; }#notificatorlog { display : block;  padding : 15px 25px;  text-align : center; top : 20px; width : 200px; z-index : 5000; }.bag-info ul.dropdown-cart {
    height: auto;
    max-height: 250px;
    overflow-x: hidden;
    width: 265px;
}