
._1xcCf {
	border-radius: 6px
}

._39wNL {
	font-size: 14px
}

._3l3vz {
	visibility: hidden
}

._1PaOd {
	box-shadow: 0 3px 20px 0 rgba(0, 0, 0, .23)
}

._3docA {
	float: left
}

._1pVZz {
	float: right
}

.N3jv3 {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

._3QOJv {
	padding: 16px;
	color: #f05965;
	background-color: rgba(240, 89, 101, .08);
	font-size: 14px;
	width: 100%
}

.PnAZz {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .7)
}

@media screen and (max-width:960px) {
	.G_mCu {
		display: block;
		position: fixed;
		left: 0;
		bottom: 0;
		margin: 0;
		width: 100%;
		z-index: 100
	}
}

._3bW-h {
	width: 33%;
	margin-left: 1%
}

@media screen and (max-width:960px) {
	._3bW-h {
		width: 100%;
		margin: 0
	}
}

._2vs5I {
	margin-bottom: 16px;
	padding: 0;
	box-shadow: none;
	background-color: transparent;
	border-radius: 6px;
	font-size: 14px;
	line-height: 1.5
}

@media screen and (max-width:960px) {
	._2vs5I {
		border-radius: 0;
		box-shadow: none;
		margin-bottom: 0;
		padding: 0;
		background-color: transparent
	}
}

.DCf0Y {
	background-color: transparent;
	font-size: 16px;
	font-weight: 700;
	text-align: left;
	text-transform: uppercase;
	line-height: 1.5;
	padding: 16px 0;
	color: #4f585e
}

@media screen and (max-width:960px) {
	.DCf0Y {
		font-size: 14px;
		padding: 24px 16px 16px;
		height: auto;
		line-height: 1.25;
		background-color: transparent
	}
}

._2V14u {
	padding: 24px;
	box-shadow: 0 3px 20px 0 rgba(0, 0, 0, .23);
	background-color: #fff;
	border-radius: 6px
}

@media screen and (max-width:960px) {
	._2V14u {
		padding: 16px;
		box-shadow: none;
		background-color: #fff;
		border-radius: 0
	}
}

.QtfK6 {
	max-width: 1024px;
	margin: 0 auto
}

._1IFFP {
	overflow: hidden
}

@-webkit-keyframes _3dhvT {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg)
	}
	to {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg)
	}
}

@keyframes _3dhvT {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg)
	}
	to {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg)
	}
}

@-webkit-keyframes _3aVgp {
	0% {
		background-color: #7ed321
	}
	to {
		background-color: rgba(126, 211, 33, .5)
	}
}

@keyframes _3aVgp {
	0% {
		background-color: #7ed321
	}
	to {
		background-color: rgba(126, 211, 33, .5)
	}
}

@-webkit-keyframes _2BBlf {
	0% {
		opacity: .2
	}
	20% {
		opacity: 1
	}
	to {
		opacity: .2
	}
}

@keyframes _2BBlf {
	0% {
		opacity: .2
	}
	20% {
		opacity: 1
	}
	to {
		opacity: .2
	}
}

.BzVTY {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 0
}

.BzVTY input {
	display: none
}

.BzVTY input:checked~._2jEfv {
	background: #10847e;
	border: 0
}

.BzVTY input:checked~._2mooQ {
	background: #10847e
}

.BzVTY input:checked~._2jEfv:after,
.BzVTY input:checked~._2mooQ:after {
	content: ""
}

._2jEfv,
._2mooQ {
	width: 18px;
	height: 18px;
	border-width: 2px;
	border-style: solid;
	cursor: pointer;
	margin: 0;
	position: relative
}

._2jEfv:after,
._2mooQ:after {
	position: absolute
}

._2jEfv {
	background: #fff;
	border-radius: 2px;
	border-color: #8897a2
}

._2jEfv:after {
	left: 6px;
	top: 2px;
	width: 6px;
	height: 12px;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff
}

._2mooQ {
	border-radius: 50%;
	border-color: #8897a2
}

._2mooQ:after {
	width: 100%;
	background: #10847e;
	border-radius: 50%;
	height: 100%;
	border: 2px solid #fff
}

._21Q3E ._2aPCL>._1jRjj>a,
._21Q3E ._2aPCL>._1jRjj>a:focus,
._21Q3E ._2aPCL>._1jRjj>a:hover {
	color: #33e0ff;
	background-color: transparent
}

._21Q3E ._2aPCL>li>a {
	color: #fff
}

.VVRQ4 {
	clear: both
}

@media screen and (max-width:960px) {
	.jnK5n {
		display: none!important
	}
}

.Tq1Ct {
	display: none!important
}

@media screen and (max-width:960px) {
	.Tq1Ct {
		display: inherit!important
	}
}

._36EW4 {
	width: 100%
}

._3C_2w {
	font-weight: 700
}

._1pY_g {
	background: #fff
}

._2EfL3 {
	text-align: right
}

._1TFT3 {
	text-transform: uppercase
}

._3q1-t {
	border-radius: 6px
}

._3wIAY {
	font-size: 14px
}

._3zoeL {
	visibility: hidden
}

._3HkSB {
	box-shadow: 0 3px 20px 0 rgba(0, 0, 0, .23)
}

._2chtU {
	float: left
}

.sGtg9 {
	float: right
}

._2d0DP {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

._1HEW6 {
	padding: 16px;
	color: #f05965;
	background-color: rgba(240, 89, 101, .08);
	font-size: 14px;
	width: 100%
}

._2gDeJ {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .7)
}

@media screen and (max-width:960px) {
	._115fq {
		display: block;
		position: fixed;
		left: 0;
		bottom: 0;
		margin: 0;
		width: 100%;
		z-index: 100
	}
}

._2r6yM {
	width: 33%;
	margin-left: 1%
}

@media screen and (max-width:960px) {
	._2r6yM {
		width: 100%;
		margin: 0
	}
}

._3Sx4P {
	margin-bottom: 16px;
	padding: 0;
	box-shadow: none;
	background-color: transparent;
	border-radius: 6px;
	font-size: 14px;
	line-height: 1.5
}

@media screen and (max-width:960px) {
	._3Sx4P {
		border-radius: 0;
		box-shadow: none;
		margin-bottom: 0;
		padding: 0;
		background-color: transparent
	}
}

._3ItA3 {
	background-color: transparent;
	font-size: 16px;
	font-weight: 700;
	text-align: left;
	text-transform: uppercase;
	line-height: 1.5;
	padding: 16px 0;
	color: #4f585e
}

@media screen and (max-width:960px) {
	._3ItA3 {
		font-size: 14px;
		padding: 24px 16px 16px;
		height: auto;
		line-height: 1.25;
		background-color: transparent
	}
}

._2ZBIP {
	padding: 24px;
	box-shadow: 0 3px 20px 0 rgba(0, 0, 0, .23);
	background-color: #fff;
	border-radius: 6px
}

@media screen and (max-width:960px) {
	._2ZBIP {
		padding: 16px;
		box-shadow: none;
		background-color: #fff;
		border-radius: 0
	}
}

._1S4ez {
	max-width: 1024px;
	margin: 0 auto
}

._3g6T1 {
	overflow: hidden
}

@-webkit-keyframes _2kYUK {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg)
	}
	to {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg)
	}
}

@keyframes _2kYUK {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg)
	}
	to {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg)
	}
}

@-webkit-keyframes _19bbw {
	0% {
		background-color: #7ed321
	}
	to {
		background-color: rgba(126, 211, 33, .5)
	}
}

@keyframes _19bbw {
	0% {
		background-color: #7ed321
	}
	to {
		background-color: rgba(126, 211, 33, .5)
	}
}

@-webkit-keyframes _2Jkk0 {
	0% {
		opacity: .2
	}
	20% {
		opacity: 1
	}
	to {
		opacity: .2
	}
}

@keyframes _2Jkk0 {
	0% {
		opacity: .2
	}
	20% {
		opacity: 1
	}
	to {
		opacity: .2
	}
}

._3s_n- {
	font-size: 18px;
	font-weight: 700;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

@media screen and (max-width:960px) {
	._3s_n- {
		font-size: 16px
	}
}

._34DCy {
	width: calc(100% - 32px);
	color: #8897a2;
	font-size: 12px;
	margin-top: 8px;
	line-height: 1
}

._3zwmo {
	padding: 16px 24px;
	font-size: 16px;
	line-height: 1.25;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	cursor: pointer;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between
}

._3zwmo:hover {
	background-color: #e6fcf6;
	color: #10847e
}

@media screen and (max-width:960px) {
	._3zwmo {
		font-size: 14px;
		padding: 16px
	}
}

._3ecYQ {
	-webkit-box-ordinal-group: 2;
	-ms-flex-order: 1;
	order: 1;
	margin-left: 8px
}

._2hnt7 {
	width: 34px;
	height: 24px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

@media screen and (max-width:960px) {
	._2hnt7 {
		width: 24px
	}
}

._2hnt7 svg {
	width: inherit;
	height: inherit;
	color: rgba(0, 0, 0, .54)
}

._2hnt7 svg:hover {
	color: #4f585e
}

._1qpLx .modal-dialog.modal-dialog {
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	top: 50%;
	width: 368px
}

@media screen and (max-width:960px) {
	._1qpLx .modal-dialog.modal-dialog {
		margin: 0 auto;
		margin-top: 80px;
		-webkit-transform: none;
		transform: none;
		top: auto;
		width: 296px
	}
}

._1qpLx .modal-header {
	padding: 24px;
	padding-right: 16px
}

@media screen and (max-width:960px) {
	._1qpLx .modal-header {
		padding: 24px 16px
	}
}

._1qpLx .modal-body1 {
	padding: 0;
	padding-top: 16px
}

.iJc8y {
	line-height: 1.25;
	font-size: 16px;
	font-weight: 500;
	display: block;
	width: calc(100% - 26px)
}

.iJc8y._2mHWb {
	color: #10847e
}

._24Xfq {
	padding: 24px;
	padding-top: 8px
}

@media screen and (max-width:960px) {
	._24Xfq {
		padding-left: 16px;
		padding-right: 16px
	}
}

.kOOcE {
	height: 88px;
	resize: none;
	border: 1px solid rgba(0, 0, 0, .38);
	border-radius: 2px;
	margin: 8px auto;
	padding: 16px;
	width: calc(100% - 48px);
	display: block;
	margin-bottom: 16px
}

.kOOcE::-webkit-input-placeholder {
	color: rgba(0, 0, 0, .38)
}

.kOOcE:-ms-input-placeholder {
	color: rgba(0, 0, 0, .38)
}

.kOOcE::placeholder {
	color: rgba(0, 0, 0, .38)
}

.kOOcE:focus {
	outline: 0;
	border-color: #10847e
}

@media screen and (max-width:960px) {
	.kOOcE {
		width: calc(100% - 32px);
		font-size: 12px
	}
}

._3fN7T {
	display: block;
	padding: 16px 24px;
	margin-bottom: 0
}

._3fN7T:hover {
	background-color: #e6fcf6;
	color: #10847e
}

._5LxXV ._3o4T->._394by>a,
._5LxXV ._3o4T->._394by>a:focus,
._5LxXV ._3o4T->._394by>a:hover {
	color: #33e0ff;
	background-color: transparent
}

._5LxXV ._3o4T->li>a {
	color: #fff
}

.rx4D9 {
	clear: both
}

@media screen and (max-width:960px) {
	._2Oclc {
		display: none!important
	}
}

._2zCG- {
	display: none!important
}

@media screen and (max-width:960px) {
	._2zCG- {
		display: inherit!important
	}
}

._3dK1G {
	width: 100%
}

._2qppZ {
	font-weight: 700
}

._3u6RP {
	background: #fff
}

._2R19Y {
	text-align: right
}

._1P7W9 {
	text-transform: uppercase
}

._3Kdm_ {
	border-radius: 6px
}

.q18gf {
	font-size: 14px
}

._3kFTw {
	visibility: hidden
}

._1bPpW {
	box-shadow: 0 3px 20px 0 rgba(0, 0, 0, .23)
}

._1UVxq {
	float: left
}

._1dG0L {
	float: right
}

._3jJ-g {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

._1Qchz {
	padding: 16px;
	color: #f05965;
	background-color: rgba(240, 89, 101, .08);
	font-size: 14px;
	width: 100%
}

._2-ytq {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .7)
}

@media screen and (max-width:960px) {
	._2ys0t {
		display: block;
		position: fixed;
		left: 0;
		bottom: 0;
		margin: 0;
		width: 100%;
		z-index: 100
	}
}

.hp28V {
	width: 33%;
	margin-left: 1%
}

@media screen and (max-width:960px) {
	.hp28V {
		width: 100%;
		margin: 0
	}
}

._3L5Qs {
	margin-bottom: 16px;
	padding: 0;
	box-shadow: none;
	background-color: transparent;
	border-radius: 6px;
	font-size: 14px;
	line-height: 1.5
}

@media screen and (max-width:960px) {
	._3L5Qs {
		border-radius: 0;
		box-shadow: none;
		margin-bottom: 0;
		padding: 0;
		background-color: transparent
	}
}

._1loHR {
	background-color: transparent;
	font-size: 16px;
	font-weight: 700;
	text-align: left;
	text-transform: uppercase;
	line-height: 1.5;
	padding: 16px 0;
	color: #4f585e
}

@media screen and (max-width:960px) {
	._1loHR {
		font-size: 14px;
		padding: 24px 16px 16px;
		height: auto;
		line-height: 1.25;
		background-color: transparent
	}
}

._3aiY3 {
	padding: 24px;
	box-shadow: 0 3px 20px 0 rgba(0, 0, 0, .23);
	background-color: #fff;
	border-radius: 6px
}

@media screen and (max-width:960px) {
	._3aiY3 {
		padding: 16px;
		box-shadow: none;
		background-color: #fff;
		border-radius: 0
	}
}

.sUMO5 {
	max-width: 1024px;
	margin: 0 auto
}

._3WCw8 {
	overflow: hidden
}

@-webkit-keyframes _32vCJ {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg)
	}
	to {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg)
	}
}

@keyframes _32vCJ {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg)
	}
	to {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg)
	}
}

@-webkit-keyframes _1_eMw {
	0% {
		background-color: #7ed321
	}
	to {
		background-color: rgba(126, 211, 33, .5)
	}
}

@keyframes _1_eMw {
	0% {
		background-color: #7ed321
	}
	to {
		background-color: rgba(126, 211, 33, .5)
	}
}

@-webkit-keyframes _3uD2k {
	0% {
		opacity: .2
	}
	20% {
		opacity: 1
	}
	to {
		opacity: .2
	}
}

@keyframes _3uD2k {
	0% {
		opacity: .2
	}
	20% {
		opacity: 1
	}
	to {
		opacity: .2
	}
}

._2nw-A {
	margin-bottom: 16px
}

@media screen and (max-width:960px) {
	._2nw-A {
		margin-bottom: 0
	}
}

._1UgmC {
	padding: 16px 0;
	font-size: 16px;
	line-height: 24px;
	font-weight: 700;
	color: #4f585e;
	text-transform: uppercase
}

@media screen and (max-width:960px) {
	._1UgmC {
		font-size: 14px;
		padding: 16px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		background-color: #f2f2f2;
		width: 100%
	}
}

._3NK_P,
._3qIQy {
	margin: 0;
	width: 100%;
	box-sizing: border-box;
	background-color: #013446;
	color: #fff;
	height: 40px;
	display: block;
	box-shadow: none
}

@media screen and (max-width:960px) {
	._3NK_P,
	._3qIQy {
		margin: 0;
		border-radius: 0
	}
}

.W-Wax {
	background-color: #fff;
	box-shadow: 0 3px 20px 0 rgba(0, 0, 0, .23);
	border-radius: 6px
}

@media screen and (max-width:960px) {
	.W-Wax {
		border-radius: 0;
		box-shadow: none
	}
}

._1rv08,
.Ma-e- {
	padding: 16px
}

@media screen and (max-width:960px) {
	._1rv08,
	.Ma-e- {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex
	}
}

.UO9rN {
	border: 1px solid;
	margin: 8px 0
}

@media screen and (max-width:960px) {
	.UO9rN {
		margin: 0 4px;
		font-size: 12px
	}
	.UO9rN:first-of-type {
		margin-left: 0
	}
	.UO9rN:last-of-type {
		margin-right: 0
	}
}

.UO9rN:hover {
	color: #fff;
	background-color: #041d25
}

.UO9rN:first-of-type {
	margin-top: 0
}

.UO9rN:last-of-type {
	margin-bottom: 0
}

._1NPj6 {
	color: #10847e
}

.aHKG6 {
	overflow: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background-color: #fff;
	margin-bottom: 16px;
	box-shadow: 0 3px 20px 0 rgba(0, 0, 0, .23);
	padding: 24px 16px
}

@media screen and (max-width:960px) {
	.aHKG6 {
		padding: 0;
		margin-bottom: 0
	}
}

._1rv08 {
	padding-bottom: 0;
	margin-bottom: 16px
}

@media screen and (max-width:960px) {
	._1rv08 {
		margin-bottom: 0
	}
}

._1ySOo {
	padding: 16px;
	background-color: #fefcb2
}

._3Qx0F ._1vnde>.ChhOW>a,
._3Qx0F ._1vnde>.ChhOW>a:focus,
._3Qx0F ._1vnde>.ChhOW>a:hover {
	color: #33e0ff;
	background-color: transparent
}

._3Qx0F ._1vnde>li>a {
	color: #fff
}

._3bCT0 {
	clear: both
}

@media screen and (max-width:960px) {
	._1qHpO {
		display: none!important
	}
}

._2QD9p {
	display: none!important
}

@media screen and (max-width:960px) {
	._2QD9p {
		display: inherit!important
	}
}

.RJ5U7 {
	width: 100%
}

.aDF8y {
	font-weight: 700
}

._1EL3o {
	background: #fff
}

._323oL {
	text-align: right
}

._2k2Lp {
	text-transform: uppercase
}

._1bwXP {
	border-radius: 6px
}

._2pskJ {
	font-size: 14px
}

.WK71O {
	visibility: hidden
}

._31GXo {
	box-shadow: 0 3px 20px 0 rgba(0, 0, 0, .23)
}

._3K2A_ {
	float: left
}

._3Spzw {
	float: right
}

.SLD4m {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

._3O32v {
	padding: 16px;
	color: #f05965;
	background-color: rgba(240, 89, 101, .08);
	font-size: 14px;
	width: 100%
}

._3qTIp {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .7)
}

@media screen and (max-width:960px) {
	._3mzCI {
		display: block;
		position: fixed;
		left: 0;
		bottom: 0;
		margin: 0;
		width: 100%;
		z-index: 100
	}
}

._18G3l {
	width: 33%;
	margin-left: 1%
}

@media screen and (max-width:960px) {
	._18G3l {
		width: 100%;
		margin: 0
	}
}

.tLyZt {
	margin-bottom: 16px;
	padding: 0;
	box-shadow: none;
	background-color: transparent;
	border-radius: 6px;
	font-size: 14px;
	line-height: 1.5
}

@media screen and (max-width:960px) {
	.tLyZt {
		border-radius: 0;
		box-shadow: none;
		margin-bottom: 0;
		padding: 0;
		background-color: transparent
	}
}

._2x7N_ {
	background-color: transparent;
	font-size: 16px;
	font-weight: 700;
	text-align: left;
	text-transform: uppercase;
	line-height: 1.5;
	padding: 16px 0;
	color: #4f585e
}

@media screen and (max-width:960px) {
	._2x7N_ {
		font-size: 14px;
		padding: 24px 16px 16px;
		height: auto;
		line-height: 1.25;
		background-color: transparent
	}
}

._1-U7E {
	padding: 24px;
	box-shadow: 0 3px 20px 0 rgba(0, 0, 0, .23);
	background-color: #fff;
	border-radius: 6px
}

@media screen and (max-width:960px) {
	._1-U7E {
		padding: 16px;
		box-shadow: none;
		background-color: #fff;
		border-radius: 0
	}
}

.YrCIW {
	max-width: 1024px;
	margin: 0 auto
}

._3BptL {
	overflow: hidden
}

@-webkit-keyframes _3zEjv {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg)
	}
	to {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg)
	}
}

@keyframes _3zEjv {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg)
	}
	to {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg)
	}
}

@-webkit-keyframes _roLd {
	0% {
		background-color: #7ed321
	}
	to {
		background-color: rgba(126, 211, 33, .5)
	}
}

@keyframes _roLd {
	0% {
		background-color: #7ed321
	}
	to {
		background-color: rgba(126, 211, 33, .5)
	}
}

@-webkit-keyframes ztezy {
	0% {
		opacity: .2
	}
	20% {
		opacity: 1
	}
	to {
		opacity: .2
	}
}

@keyframes ztezy {
	0% {
		opacity: .2
	}
	20% {
		opacity: 1
	}
	to {
		opacity: .2
	}
}

.yFPNf {
	background-color: #4f585e;
	display: none;
	padding: 16px;
	position: relative;
	transition-timing-function: ease-in;
	transition-duration: .2s;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between
}

._1Cgb0,
.U05ek {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}

@media screen and (max-width:960px) {
	.U05ek {
		display: none
	}
}

.FLeuv {
	display: none
}

@media screen and (max-width:960px) {
	.FLeuv {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex
	}
}

._3cyMf {
	position: fixed;
	bottom: 20px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%)
}

._2GioN {
	width: auto;
	padding: 0;
	min-width: 65%;
	font-size: 14px;
	color: #fff
}

._2UiqC {
	min-width: 40px;
	max-width: 40px;
	height: auto
}

._2kMyX,
._2V1Tm {
	font-weight: 700
}

._2kMyX {
	min-width: 40px;
	height: auto;
	color: #3ec29e;
	font-size: 14px
}

._3jfD_ {
	padding: 8px
}

._2AXAd ._4BK7v>._1Zo_8>a,
._2AXAd ._4BK7v>._1Zo_8>a:focus,
._2AXAd ._4BK7v>._1Zo_8>a:hover {
	color: #33e0ff;
	background-color: transparent
}

._2AXAd ._4BK7v>li>a {
	color: #fff
}

._2ZjMk {
	clear: both
}

@media screen and (max-width:960px) {
	._1JUfl {
		display: none!important
	}
}

.NpHpK {
	display: none!important
}

@media screen and (max-width:960px) {
	.NpHpK {
		display: inherit!important
	}
}

._1SGm7 {
	width: 100%
}

._3udiy {
	font-weight: 700
}

._7pII0 {
	background: #fff
}

._3eskO {
	text-align: right
}

._1I12w {
	text-transform: uppercase
}

._3bIId {
	border-radius: 6px
}

._2zf5k {
	font-size: 14px
}

.xtpMa {
	visibility: hidden
}

._3Sez_ {
	box-shadow: 0 3px 20px 0 rgba(0, 0, 0, .23)
}

.sfBpE {
	float: left
}

._8dY_a {
	float: right
}

._1RNHR {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

._2WsTQ {
	padding: 16px;
	color: #f05965;
	background-color: rgba(240, 89, 101, .08);
	font-size: 14px;
	width: 100%
}

._1ozIr {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .7)
}

@media screen and (max-width:960px) {
	._1jAy1 {
		display: block;
		position: fixed;
		left: 0;
		bottom: 0;
		margin: 0;
		width: 100%;
		z-index: 100
	}
}

._3aDMq {
	width: 33%;
	margin-left: 1%
}

@media screen and (max-width:960px) {
	._3aDMq {
		width: 100%;
		margin: 0
	}
}

._24G45 {
	margin-bottom: 16px;
	padding: 0;
	box-shadow: none;
	background-color: transparent;
	border-radius: 6px;
	font-size: 14px;
	line-height: 1.5
}

@media screen and (max-width:960px) {
	._24G45 {
		border-radius: 0;
		box-shadow: none;
		margin-bottom: 0;
		padding: 0;
		background-color: transparent
	}
}

.FI5Ak {
	background-color: transparent;
	font-size: 16px;
	font-weight: 700;
	text-align: left;
	text-transform: uppercase;
	line-height: 1.5;
	padding: 16px 0;
	color: #4f585e
}

@media screen and (max-width:960px) {
	.FI5Ak {
		font-size: 14px;
		padding: 24px 16px 16px;
		height: auto;
		line-height: 1.25;
		background-color: transparent
	}
}

.JtaET {
	padding: 24px;
	box-shadow: 0 3px 20px 0 rgba(0, 0, 0, .23);
	background-color: #fff;
	border-radius: 6px
}

@media screen and (max-width:960px) {
	.JtaET {
		padding: 16px;
		box-shadow: none;
		background-color: #fff;
		border-radius: 0
	}
}

._1LvcK {
	max-width: 1024px;
	margin: 0 auto
}

.aTgay {
	overflow: hidden
}

@-webkit-keyframes _16GFn {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg)
	}
	to {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg)
	}
}

@keyframes _16GFn {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg)
	}
	to {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg)
	}
}

@-webkit-keyframes _2DI_s {
	0% {
		background-color: #7ed321
	}
	to {
		background-color: rgba(126, 211, 33, .5)
	}
}

@keyframes _2DI_s {
	0% {
		background-color: #7ed321
	}
	to {
		background-color: rgba(126, 211, 33, .5)
	}
}

@-webkit-keyframes _1X3nC {
	0% {
		opacity: .2
	}
	20% {
		opacity: 1
	}
	to {
		opacity: .2
	}
}

@keyframes _1X3nC {
	0% {
		opacity: .2
	}
	20% {
		opacity: 1
	}
	to {
		opacity: .2
	}
}

._3Tg-d {
	padding: 24px 32px;
	box-shadow: 0 3px 20px 0 rgba(0, 0, 0, .23);
	background-color: #fff;
	border-radius: 6px;
	margin-bottom: 8px
}

@media screen and (max-width:960px) {
	._3Tg-d {
		padding: 24px;
		box-shadow: none;
		border-radius: 0
	}
}

._2O7an {
	padding: 16px 0;
	font-size: 16px;
	line-height: 24px;
	font-weight: 700;
	color: #4f585e;
	text-transform: uppercase
}

@media screen and (max-width:960px) {
	._2O7an {
		font-size: 14px;
		padding: 16px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		background-color: #f2f2f2;
		width: 100%
	}
}

._10XI8 {
	padding-bottom: 40px;
	position: relative
}

@media screen and (max-width:960px) {
	._10XI8 {
		padding-bottom: 32px;
		padding-left: 54px
	}
}

._10XI8:before {
	height: 40px;
	width: 24px;
	border-radius: 50%;
	position: absolute;
	left: -12px;
	top: -10px;
	z-index: 1;
	padding-top: 8px;
	background: #fff
}

._10XI8:last-of-type {
	padding-bottom: 0;
	border-left: none
}



._3W6vY {
	font-size: 16px;
	font-weight: 700
}

._3W6vY,
._365Xc {
	color: #4f585e;
	padding-bottom: 8px
}

._365Xc {
    font-size: 14px;
    border-bottom: 1px solid #eee;
    padding: 14px 0px;
}

._365Xc:last-of-type {
	padding-bottom: 0
}

._1aQQM ._1XxMS>._3Ripc>a,
._1aQQM ._1XxMS>._3Ripc>a:focus,
._1aQQM ._1XxMS>._3Ripc>a:hover {
	color: #33e0ff;
	background-color: transparent
}

._1aQQM ._1XxMS>li>a {
	color: #fff
}

._1w4gU {
	clear: both
}

@media screen and (max-width:960px) {
	._3erO6 {
		display: none!important
	}
}

._30y22 {
	display: none!important
}

@media screen and (max-width:960px) {
	._30y22 {
		display: inherit!important
	}
}

._3T8df {
	width: 100%
}

._12uvM {
	font-weight: 700
}

.YnecP {
	background: #fff
}

._3iZJZ {
	text-align: right
}

._3lMQI {
	text-transform: uppercase
}

._3RIw_ {
	border-radius: 6px
}

.jUdS6 {
	font-size: 14px
}

._2X47Z {
	visibility: hidden
}

.UKoBr {
	box-shadow: 0 3px 20px 0 rgba(0, 0, 0, .23)
}

.Cig2R {
	float: left
}

._3D3G7 {
	float: right
}

._2xb64 {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.oLuH6 {
	padding: 16px;
	color: #f05965;
	background-color: rgba(240, 89, 101, .08);
	font-size: 14px;
	width: 100%
}

.-AMO5 {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .7)
}

@media screen and (max-width:960px) {
	.BTojF {
		display: block;
		position: fixed;
		left: 0;
		bottom: 0;
		margin: 0;
		width: 100%;
		z-index: 100
	}
}

.FbDUa {
	width: 33%;
	margin-left: 1%
}

@media screen and (max-width:960px) {
	.FbDUa {
		width: 100%;
		margin: 0
	}
}

._3SKic,
.LlEzq {
	margin-bottom: 16px;
	padding: 0;
	box-shadow: none;
	background-color: transparent;
	border-radius: 6px;
	font-size: 14px;
	line-height: 1.5
}

@media screen and (max-width:960px) {
	._3SKic,
	.LlEzq {
		border-radius: 0;
		box-shadow: none;
		margin-bottom: 0;
		padding: 0;
		background-color: transparent
	}
}

._2Uhgb,
._3BwiU {
	background-color: transparent;
	font-size: 16px;
	font-weight: 700;
	text-align: left;
	text-transform: uppercase;
	line-height: 1.5;
	padding: 16px 0;
	color: #4f585e
}

@media screen and (max-width:960px) {
	._2Uhgb,
	._3BwiU {
		font-size: 14px;
		padding: 24px 16px 16px;
		height: auto;
		line-height: 1.25;
		background-color: transparent
	}
}

._2dXRs,
._39Bt_ {
	padding: 24px;
	box-shadow: 0 3px 20px 0 rgba(0, 0, 0, .23);
	background-color: #fff;
	border-radius: 6px
}

@media screen and (max-width:960px) {
	._2dXRs,
	._39Bt_ {
		padding: 16px;
		box-shadow: none;
		background-color: #fff;
		border-radius: 0
	}
}

.h1PEy {
	max-width: 1024px;
	margin: 0 auto
}

._25Xrl {
	overflow: hidden
}

@-webkit-keyframes _2zh2e {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg)
	}
	to {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg)
	}
}

@keyframes _2zh2e {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg)
	}
	to {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg)
	}
}

@-webkit-keyframes _1-tzP {
	0% {
		background-color: #7ed321
	}
	to {
		background-color: rgba(126, 211, 33, .5)
	}
}

@keyframes _1-tzP {
	0% {
		background-color: #7ed321
	}
	to {
		background-color: rgba(126, 211, 33, .5)
	}
}

@-webkit-keyframes _1rXDI {
	0% {
		opacity: .2
	}
	20% {
		opacity: 1
	}
	to {
		opacity: .2
	}
}

@keyframes _1rXDI {
	0% {
		opacity: .2
	}
	20% {
		opacity: 1
	}
	to {
		opacity: .2
	}
}

.LlEzq {
	margin-bottom: 8px
}

@media screen and (max-width:960px) {
	.LlEzq {
		margin-top: -9px
	}
}

@media screen and (max-width:960px) {
	._2Uhgb {
		display: none
	}
}

._39Bt_ {
	color: #8897a2;
	padding: 0;
	background-color: transparent;
	position: relative
}

@media screen and (max-width:960px) {
	._39Bt_ {
		box-shadow: none
	}
}

._1gohn,
.iQRVo {
	background-color: #fff
}

._1gohn {
	padding: 24px 16px;
	border-radius: 6px
}

@media screen and (max-width:960px) {
	._1gohn {
		display: none
	}
}

._3qvD8 {
	position: relative;
	max-width: 328px;
	margin-left: auto;
	padding: 24px 16px;
	color: #8897a2;
	margin-bottom: 24px
}

@media screen and (max-width:960px) {
	._3qvD8 {
		border-top: 1px solid rgba(0, 0, 0, .12);
		max-width: 100%;
		margin: 0 auto
	}
}

._13QQg {
	max-width: 175px
}

@media screen and (max-width:960px) {
	._13QQg {
		max-width: 100%
	}
}

._1caYQ {
	color: #10847e
}

._6sl29 {
	padding-top: 16px;
	border-top: 1px solid #8897a2;
	color: #4f585e
}

.LIRHq {
	margin-bottom: 16px
}

._2haw4 {
	text-align: center;
	font-size: 12px;
	background-color: #f2f2f2;
	padding: 8px;
	border-radius: 2px
}

._1gc6w {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-bottom: 16px
}

._1gc6w:last-child {
	margin-bottom: 0
}

@media screen and (max-width:960px) {
	._1gc6w._1bYSf {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		border-top: 1px dashed rgba(0, 0, 0, .2);
		padding-top: 16px;
		font-size: 16px;
		font-weight: 700;
		margin-bottom: 0
	}
}

.b1z8K {
	margin-top: 16px;
	text-align: center;
	padding: 16px;
	background-color: #ebfef8;
	color: #10847e;
	font-weight: 700;
	font-size: 12px;
	border: 1px dashed #10847e;
	border-radius: 6px
}

@media screen and (max-width:960px) {
	.b1z8K {
		font-size: 14px
	}
}

._3Txp4 {
	background-color: #fff;
	padding: 24px 16px;
	border-top: 1px solid rgba(0, 0, 0, .12)
}

.dEIYJ {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	font-size: 14px;
	margin-bottom: 16px
}

.dEIYJ:last-child {
	margin-bottom: 0
}

._4mJv1 {
	color: #4f585e;
	font-weight: 700
}

._3qJTZ {
	font-weight: 700;
	padding-bottom: 16px
}

.Yd8xU:after {
	content: "";
	position: absolute;
	bottom: -7px;
	left: 0;
	width: 100%;
	height: 8px;
	background-repeat: repeat-x;
	background-position: 0;
	background-image: url(https://d2y2l77dht9e8d.cloudfront.net/web-assets/dist/62312b55a2a747a154d47059a233f30a.svg)
}

@media screen and (max-width:960px) {
	.Yd8xU:after {
		display: none
	}
}

._1ZB3X,
._3k4dk {
	color: #10847e;
	font-size: 14px;
	line-height: 1.5;
	font-weight: 700
}

@media screen and (max-width:960px) {
	._1ZB3X,
	._3k4dk {
		font-size: 16px
	}
}

._1ZB3X {
	color: #4f585e
}

.orderDetailsSidebar {
	border-radius: 2px;
	margin-bottom: 0
}

@media screen and (max-width:960px) {
	.orderDetailsSidebar {
		border: none;
		margin-bottom: 0;
		box-shadow: none
	}
}

.orderDetailsSidebar .sidebarItem {
	width: 100%;
	clear: both;
	margin-bottom: 16px
}

@media screen and (max-width:960px) {
	.orderDetailsSidebar .sidebarItem {
		display: block;
		background: #fff;
		margin: 0
	}
}

.orderDetailsSidebar .sidebarItem .sidecartHeader {
	padding: 0 16px;
	height: 48px;
	line-height: 48px;
	background-color: #f8f9f8;
	font-size: 16px;
	font-weight: 700;
	text-align: left;
	color: #4f585e;
	text-transform: uppercase;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis
}

@media screen and (max-width:960px) {
	.orderDetailsSidebar .sidebarItem .sidecartHeader {
		padding: 24px 16px 16px;
		height: auto;
		line-height: 1em;
		background-color: #f2f2f2;
		color: #8897a2
	}
}

.requireHelpBox {
	position: relative;
	border: 1px solid rgba(0, 0, 0, .12);
	border-radius: 6px;
	padding: 16px 16px 16px 56px;
	BOX-SHADOW: 0 3px 20px 0 rgba(0, 0, 0, .23)
}

@media screen and (max-width:960px) {
	.requireHelpBox {
		border: none;
		border-radius: 0;
		margin-bottom: 32px;
		padding: 32px 16px 24px 64px;
		background: #fff;
		box-shadow: none
	}
}

.requireHelpBox img {
	position: absolute;
	top: 12px;
	left: 16px;
	height: 24px
}

@media screen and (max-width:960px) {
	.requireHelpBox img {
		top: 28px;
		left: 16px
	}
}

.requireHelpBox .requireHelpContent .requireHelpTitle {
	color: #4f585e;
	margin-bottom: 8px;
	font-size: 14px
}

.requireHelpBox .requireHelpContent .requireHelpText {
	color: #8897a2;
	font-size: 13px
}

.requireHelpBox .requireHelpContent .requireHelpText .contactNo {
	color: #10847e
}

.NsorF .FwBjQ>._2OxyF>a,
.NsorF .FwBjQ>._2OxyF>a:focus,
.NsorF .FwBjQ>._2OxyF>a:hover {
	color: #33e0ff;
	background-color: transparent
}

.NsorF .FwBjQ>li>a {
	color: #fff
}

._1yrfi {
	clear: both
}

@media screen and (max-width:960px) {
	._3dJks {
		display: none!important
	}
}

._2EBqg {
	display: none!important
}

@media screen and (max-width:960px) {
	._2EBqg {
		display: inherit!important
	}
}

.fHY72 {
	width: 100%
}

._3xEkc {
	font-weight: 700
}

._3_alf {
	background: #fff
}

.aWTrw {
	text-align: right
}

._2CYCN {
	text-transform: uppercase
}

._2z-s7 {
	border-radius: 6px
}

._3-BYV {
	font-size: 14px
}

._3oWQJ {
	visibility: hidden
}

._1UR_F {
	box-shadow: 0 3px 20px 0 rgba(0, 0, 0, .23)
}

.nf_EG {
	float: left
}

._2N6Gt {
	float: right
}

._3ivkm {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

._3k0-w {
	padding: 16px;
	color: #f05965;
	background-color: rgba(240, 89, 101, .08);
	font-size: 14px;
	width: 100%
}

.cak7i {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .7)
}

@media screen and (max-width:960px) {
	._3cfGM {
		display: block;
		position: fixed;
		left: 0;
		bottom: 0;
		margin: 0;
		width: 100%;
		z-index: 100
	}
}

.dS40S {
	width: 33%;
	margin-left: 1%
}

@media screen and (max-width:960px) {
	.dS40S {
		width: 100%;
		margin: 0
	}
}

._17GGh,
._22XPN {
	margin-bottom: 16px;
	padding: 0;
	box-shadow: none;
	background-color: transparent;
	border-radius: 6px;
	font-size: 14px;
	line-height: 1.5
}

@media screen and (max-width:960px) {
	._17GGh,
	._22XPN {
		border-radius: 0;
		box-shadow: none;
		margin-bottom: 0;
		padding: 0;
		background-color: transparent
	}
}

._17lUZ,
._257DI {
	background-color: transparent;
	font-size: 16px;
	font-weight: 700;
	text-align: left;
	text-transform: uppercase;
	line-height: 1.5;
	padding: 16px 0;
	color: #4f585e
}

@media screen and (max-width:960px) {
	._17lUZ,
	._257DI {
		font-size: 14px;
		padding: 24px 16px 16px;
		height: auto;
		line-height: 1.25;
		background-color: transparent
	}
}

._1qqKP,
._2zqKh {
	padding: 24px;
	box-shadow: 0 3px 20px 0 rgba(0, 0, 0, .23);
	background-color: #fff;
	border-radius: 6px
}

@media screen and (max-width:960px) {
	._1qqKP,
	._2zqKh {
		padding: 16px;
		box-shadow: none;
		background-color: #fff;
		border-radius: 0
	}
}

._3syOf {
	max-width: 1024px;
	margin: 0 auto
}

._3J8ah {
	overflow: hidden
}

@-webkit-keyframes _1Qp8M {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg)
	}
	to {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg)
	}
}

@keyframes _1Qp8M {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg)
	}
	to {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg)
	}
}

@-webkit-keyframes _2WRUg {
	0% {
		background-color: #7ed321
	}
	to {
		background-color: rgba(126, 211, 33, .5)
	}
}

@keyframes _2WRUg {
	0% {
		background-color: #7ed321
	}
	to {
		background-color: rgba(126, 211, 33, .5)
	}
}

@-webkit-keyframes _3kedq {
	0% {
		opacity: .2
	}
	20% {
		opacity: 1
	}
	to {
		opacity: .2
	}
}

@keyframes _3kedq {
	0% {
		opacity: .2
	}
	20% {
		opacity: 1
	}
	to {
		opacity: .2
	}
}

._22XPN {
	margin-bottom: 8px
}

._1qqKP {
	box-shadow: 0 3px 20px 0 rgba(0, 0, 0, .23);
	padding: 24px;
	padding-top: 16px
}

@media screen and (max-width:960px) {
	._1qqKP {
		box-shadow: none;
		padding: 16px;
		padding-top: 8px
	}
}

._2Gbu- ._1qqKP {
	padding: 0;
	box-shadow: none
}

._2Gbu- ._17lUZ {
	padding: 8px 0;
	text-transform: capitalize
}

@media screen and (max-width:960px) {
	._2Gbu- ._17lUZ {
		padding: 0
	}
}

._1RBEM {
	padding: 8px 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}

._3KD-y {
	margin: 0 48px 0 0;
	min-width: 24px;
	min-height: 24px;
	width: 24px;
	height: 24px
}

@media screen and (max-width:960px) {
	._3KD-y {
		margin: 0 32px 0 0
	}
}

.BT2kw {
	color: #4f585e;
	font-size: 16px
}

.XncYm {
	color: #8897a2;
	font-size: 12px
}

._2wqKq ._1jYgm>._2pCrF>a,
._2wqKq ._1jYgm>._2pCrF>a:focus,
._2wqKq ._1jYgm>._2pCrF>a:hover {
	color: #33e0ff;
	background-color: transparent
}

._2wqKq ._1jYgm>li>a {
	color: #fff
}

._1h6l7 {
	clear: both
}

@media screen and (max-width:960px) {
	._2ptUA {
		display: none!important
	}
}

._1X_61 {
	display: none!important
}

@media screen and (max-width:960px) {
	._1X_61 {
		display: inherit!important
	}
}

._2wF-L {
	width: 100%
}

._2bldt {
	font-weight: 700
}

._1nuE6 {
	background: #fff
}

._1jD2J {
	text-align: right
}

._2t4nr {
	text-transform: uppercase
}

._61fWx {
	border-radius: 6px
}

.mMAg5 {
	font-size: 14px
}

._3aPF3 {
	visibility: hidden
}

._1-O-8 {
	box-shadow: 0 3px 20px 0 rgba(0, 0, 0, .23)
}

._1j4D3 {
	float: left
}

._2iOgE {
	float: right
}

.aXwJk {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.WdkcT {
	padding: 16px;
	color: #f05965;
	background-color: rgba(240, 89, 101, .08);
	font-size: 14px;
	width: 100%
}

._2lLSr {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .7)
}

@media screen and (max-width:960px) {
	._3CEVo {
		display: block;
		position: fixed;
		left: 0;
		bottom: 0;
		margin: 0;
		width: 100%;
		z-index: 100
	}
}

._2hSmB {
	width: 33%;
	margin-left: 1%
}

@media screen and (max-width:960px) {
	._2hSmB {
		width: 100%;
		margin: 0
	}
}

._1xQNC {
	margin-bottom: 16px;
	padding: 0;
	box-shadow: none;
	background-color: transparent;
	border-radius: 6px;
	font-size: 14px;
	line-height: 1.5
}

@media screen and (max-width:960px) {
	._1xQNC {
		border-radius: 0;
		box-shadow: none;
		margin-bottom: 0;
		padding: 0;
		background-color: transparent
	}
}

._2OVGp {
	background-color: transparent;
	font-size: 16px;
	font-weight: 700;
	text-align: left;
	text-transform: uppercase;
	line-height: 1.5;
	padding: 16px 0;
	color: #4f585e
}

@media screen and (max-width:960px) {
	._2OVGp {
		font-size: 14px;
		padding: 24px 16px 16px;
		height: auto;
		line-height: 1.25;
		background-color: transparent
	}
}

._12uRq {
	padding: 24px;
	box-shadow: 0 3px 20px 0 rgba(0, 0, 0, .23);
	background-color: #fff;
	border-radius: 6px
}

@media screen and (max-width:960px) {
	._12uRq {
		padding: 16px;
		box-shadow: none;
		background-color: #fff;
		border-radius: 0
	}
}

.tVv1t {
	max-width: 1024px;
	margin: 0 auto
}

._1bj4F {
	overflow: hidden
}

@-webkit-keyframes _1plwl {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg)
	}
	to {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg)
	}
}

@keyframes _1plwl {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg)
	}
	to {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg)
	}
}

@-webkit-keyframes ktELS {
	0% {
		background-color: #7ed321
	}
	to {
		background-color: rgba(126, 211, 33, .5)
	}
}

@keyframes ktELS {
	0% {
		background-color: #7ed321
	}
	to {
		background-color: rgba(126, 211, 33, .5)
	}
}

@-webkit-keyframes _2nZdE {
	0% {
		opacity: .2
	}
	20% {
		opacity: 1
	}
	to {
		opacity: .2
	}
}

@keyframes _2nZdE {
	0% {
		opacity: .2
	}
	20% {
		opacity: 1
	}
	to {
		opacity: .2
	}
}

._1DUk3 {
	min-height: 500px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	text-align: center;
	background-color: #fff;
	box-shadow: 0 3px 20px 0 rgba(0, 0, 0, .23);
	border-radius: 6px
}

@media screen and (max-width:960px) {
	._1DUk3 {
		box-shadow: none;
		background-color: transparent;
		min-height: 350px;
		border-radius: 0
	}
}

._9ocZk {
	font-size: 16px;
	max-width: 300px;
	color: #8897a2
}

._13ZIZ {
	width: 120px;
	margin-bottom: 30px
}

.uukJG {
	margin-left: 20px
}

._3Eaqj {
	width: 100%;
	margin-bottom: 8px
}

@media screen and (max-width:960px) {
	._3Eaqj {
		border: none
	}
}

._3Eaqj .HOjXH {
	padding: 16px 0;
	font-size: 16px;
	line-height: 24px;
	font-weight: 700;
	color: #4f585e;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 100%
}

@media screen and (max-width:960px) {
	._3Eaqj .HOjXH {
		font-size: 14px;
		padding: 16px
	}
}

._3Eaqj ._1xNu6 {
	font-size: 12px;
	text-align: right;
	font-weight: 400
}

._3Eaqj ._4Q7lw {
	padding: 24px;
	margin-bottom: 16px;
	box-shadow: 0 3px 20px 0 rgba(0, 0, 0, .23);
	background: #fff;
	border-bottom: 1px solid rgba(0, 0, 0, .12);
	border-radius: 6px
}

@media screen and (max-width:960px) {
	._3Eaqj ._4Q7lw {
		border-radius: 0;
		padding: 24px 16px;
		margin-bottom: 0;
		box-shadow: none
	}
}

._3Eaqj .DfvEg {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}

._3Eaqj .DfvEg ._1Qypc {
	width: 72px;
	height: 72px;
	background: #f2f2f2;
	padding: 16px;
	text-align: center
}

._3Eaqj .DfvEg ._1Qypc img {
	max-width: 100%;
	max-height: 100%
}

@media screen and (max-width:960px) {
	._3Eaqj .DfvEg ._1Qypc {
		width: 48px;
		height: 48px;
		padding: 8px
	}
}

._3Eaqj .DfvEg ._1Qypc._1n2zE {
	padding: 0;
	background: transparent
}

._3nHoe {
	display: none
}

@media screen and (max-width:960px) {
	._3nHoe {
		position: relative;
		padding: 24px 16px;
		background-color: #fff;
		display: block;
		max-width: 100%;
		margin: 0 auto;
		color: #8897a2
	}
}

._3_eh5 {
	color: #10847e
}

.FgQCv {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-bottom: 16px
}

.FgQCv._26KFA {
	display: none
}

.FgQCv:last-child {
	margin-bottom: 0
}

@media screen and (max-width:960px) {
	.FgQCv._26KFA {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		border-top: 1px dashed rgba(0, 0, 0, .2);
		padding-top: 16px;
		font-size: 16px;
		font-weight: 700;
		margin-bottom: 0
	}
}

._3VLmv {
	margin-top: 16px;
	padding: 16px;
	background-color: #ebfef8;
	color: #10847e;
	font-weight: 700;
	border: 1px dashed #10847e;
	border-radius: 6px
}

._2P2kB:after {
	content: "";
	position: absolute;
	bottom: -7px;
	left: 0;
	width: 100%;
	height: 8px;
	background-repeat: repeat-x;
	background-image: url(https://d2y2l77dht9e8d.cloudfront.net/web-assets/dist/62312b55a2a747a154d47059a233f30a.svg)
}

.orderReturnModalContainer {
	overflow: auto;
	min-height: 50vh;
	height: auto;
	max-height: 80vh;
	position: relative
}

.orderReturnModalContainer .header {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 15px 30px;
	position: relative;
	min-height: 50px;
	font-size: 12px;
	text-align: left;
	color: #222;
	width: 100%;
	top: 0;
	font-weight: 400
}

.orderReturnModalContainer .header h4 {
	color: #000;
	font-size: 15px;
	margin: 0;
	padding: 0
}

.orderReturnModalContainer span.orderId {
	font-weight: 700
}

.orderReturnModalContainer span.deliveryInfo:before {
	content: "|";
	margin: 0 5px
}

.orderReturnModalContainer button.closeImage {
	position: absolute;
	top: 15px;
	right: 30px;
	width: 20px;
	height: 20px;
	overflow: hidden;
	border: none;
	margin: 0;
	padding: 0;
	background-color: transparent
}

.orderReturnModalContainer button.closeImage img {
	width: 100%;
	height: 100%
}

.orderReturnModalContainer .returnValidityContainer {
	color: #9b9b9b;
	background-color: #ececed;
	font-size: 12px;
	padding: 15px 30px;
	position: relative;
	width: 100%;
	top: 0
}

.orderReturnModalContainer .returnValidityContainer .validityDate {
	color: #4a4a4a
}

.orderReturnModalContainer .returnMedicineListContainer {
	padding: 15px 30px;
	overflow: auto;
	position: relative;
	top: 0;
	padding-bottom: 90px;
	width: 100%;
	max-height: 50vh
}

.orderReturnModalContainer .returnMedicineListContainer .returnMedicineItem {
	padding: 15px 45px;
	min-height: 40px;
	border-bottom: 1px solid #979797;
	position: relative
}

.orderReturnModalContainer .returnMedicineListContainer .returnMedicineItem h6 {
	margin: 0;
	padding: 0;
	font-size: 15px
}

.orderReturnModalContainer .returnMedicineListContainer .returnMedicineItem button.returnCheckbox {
	position: absolute;
	left: 0;
	top: 15px;
	width: 20px;
	height: 20px;
	margin: 0;
	padding: 0;
	border: none;
	background-color: transparent
}

.orderReturnModalContainer .returnMedicineListContainer .returnMedicineItem button.returnCheckbox>img {
	max-width: 100%;
	max-height: 100%
}

.orderReturnModalContainer .returnMedicineListContainer .returnMedicineItem .qty {
	font-size: 10px;
	color: #9b9b9b;
	padding: 5px 0
}

.orderReturnModalContainer .initiateButtonContainer {
	background-color: #fff;
	border-top: 1px solid #eaeaea;
	padding: 15px 30px;
	position: absolute;
	bottom: 0;
	width: 100%
}

.orderReturnModalContainer .initiateButtonContainer>button {
	border: none;
	margin: 0;
	padding: 0;
	background-color: #16876e;
	color: #fff;
	height: 40px;
	width: 100%;
	font-size: 15px;
	line-height: 2;
	letter-spacing: 2px
}

@media (max-width:700px) {
	.modal-backdrop {
		z-index: 1999
	}
	.modal {
		z-index: 9999
	}
	.return-modal.modal-dialog {
		top: 70px
	}
	.orderReturnModalContainer .header,
	.orderReturnModalContainer .initiateButtonContainer,
	.orderReturnModalContainer .returnMedicineListContainer,
	.orderReturnModalContainer .returnValidityContainer {
		padding: 15px
	}
	.orderReturnModalContainer span.deliveryInfo,
	.orderReturnModalContainer span.orderId {
		display: block
	}
	.orderReturnModalContainer span.deliveryInfo:before {
		content: none;
		margin: 0 5px
	}
	.orderReturnModalContainer button.closeImage {
		right: 15px
	}
	.orderReturnModalContainer .returnMedicineListContainer {
		padding-bottom: 90px
	}
	.orderReturnModalContainer .returnMedicineListContainer .returnMedicineItem {
		padding: 15px 30px;
		font-size: 12px
	}
}

#orderStatusMapV1,
#orderStatusMapV2 {
	margin-bottom: 16px
}

#orderStatusMapV1 {
	padding: 0 24px 0 48px;
	color: #4f585e;
	border-top: 1px solid rgba(0, 0, 0, .12);
	border-bottom: 1px solid rgba(0, 0, 0, .12)
}

@media screen and (max-width:960px) {
	#orderStatusMapV1 {
		padding: 0 24px 0 16px
	}
}

#orderStatusMapV1 .statusMapMain {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 32px 0;
	border-bottom: 1px solid #dfe3e6
}

#orderStatusMapV1 .statusMapMain:last-of-type {
	border-bottom: none
}

@media screen and (max-width:960px) {
	#orderStatusMapV1 .statusMapMain {
		padding: 24px 0
	}
}

#orderStatusMapV1 .orderStatus {
	position: relative;
	padding: 0 0 24px 48px;
	z-index: 1
}

#orderStatusMapV1 .orderStatus:before {
	content: attr(data-index);
	background-color: #7ed321;
	position: absolute;
	left: 0;
	top: 0;
	text-align: center;
	height: 24px;
	width: 24px;
	border-radius: 50%;
	z-index: 1;
	line-height: 24px;
	color: #fff
}

#orderStatusMapV1 .orderStatus.inactive:before {
	background-color: rgba(0, 0, 0, .3)
}

#orderStatusMapV1 .orderStatus.currentState .stateCountContainer:before {
	-webkit-animation: blinkingCurrentStatus .7s ease-out infinite alternate;
	animation: blinkingCurrentStatus .7s ease-out infinite alternate;
	content: "-";
	width: 32px;
	height: 32px;
	color: transparent;
	background-color: #d8f2bc;
	position: absolute;
	border-radius: 50%;
	left: 12px;
	top: 12px;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%)
}

#orderStatusMapV1 .statusText {
	text-transform: uppercase;
	color: #4f585e;
	margin-bottom: 8px;
	line-height: 20px
}

#orderStatusMapV1 .statusText.inactive {
	color: rgba(0, 0, 0, .3)
}

#orderStatusMapV1 .statusText.currentState {
	font-weight: 700
}

#orderStatusMapV1 .descriptionLine {
	color: #8897a2
}

#orderStatusMapV2 {
	padding: 0 24px 0 48px;
	color: #4f585e;
	border-top: 1px solid rgba(0, 0, 0, .12);
	border-bottom: 1px solid rgba(0, 0, 0, .12)
}

@media screen and (max-width:960px) {
	#orderStatusMapV2 {
		padding: 0 16px;
		margin-top: 8px
	}
}

#orderStatusMapV2 .orderState {
	position: relative
}

#orderStatusMapV2 .orderState:last-child .stateInfo {
	border: none
}

#orderStatusMapV2 .orderState .stateCountContainer {
	position: absolute;
	left: 0;
	top: 20px
}

#orderStatusMapV2 .orderState .stateCountContainer .stateCount {
	line-height: 24px;
	text-align: center;
	font-size: 14px;
	height: 24px;
	width: 24px;
	border-radius: 50%;
	background-color: #7ed321;
	color: #fff;
	z-index: 1;
	position: relative
}

#orderStatusMapV2 .orderState .stateInfo {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	border-bottom: 1px solid rgba(0, 0, 0, .07);
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 24px 0 24px 48px
}

@media screen and (max-width:960px) {
	#orderStatusMapV2 .orderState .stateInfo {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		position: relative;
		padding: 24px 0 24px 64px
	}
}


@media screen and (max-width:960px) {
	._2tZyY {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		width: 100%
	}
}

._27FAk {
	color: #4f585e;
	margin-right: 20px
}

@media screen and (max-width:960px) {
	._27FAk {
		margin: 0;
		white-space: nowrap
	}
}

.kN9ec {
	font-weight: 700
}

@media screen and (max-width:960px) {
	.kN9ec {
		margin-left: 8px
	}
}

._3qni0 {
	color: #4f585e;
	font-size: 12px;
	margin-top: 8px;
	width: 100%
}

.mapTitle {
	padding: 16px 0;
	font-size: 16px;
	line-height: 24px;
	font-weight: 700;
	color: #4f585e;
	text-transform: uppercase
}

@media screen and (max-width:960px) {
	.mapTitle {
		font-size: 14px;
		padding: 16px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		background-color: #f2f2f2;
		width: 100%
	}
}

.orderStatusDescription {
	font-size: 12px;
	padding: 24px
}

@media screen and (max-width:960px) {
	.orderStatusDescription {
		background-color: #fff;
		padding: 16px
	}
}

.statusTitle {
	color: rgba(0, 0, 0, .3)
}

.statusDesc {
	margin: 8px 0;
	color: #8897a2
}

._3sbXv .V9H4F>.T-GYR>a,
._3sbXv .V9H4F>.T-GYR>a:focus,
._3sbXv .V9H4F>.T-GYR>a:hover {
	color: #33e0ff;
	background-color: transparent
}

._3sbXv .V9H4F>li>a {
	color: #fff
}

._1fFUT {
	clear: both
}

@media screen and (max-width:960px) {
	._2ViP6 {
		display: none!important
	}
}

._2GOvb {
	display: none!important
}

@media screen and (max-width:960px) {
	._2GOvb {
		display: inherit!important
	}
}

._2dZ4E {
	width: 100%
}

.eqrhm {
	font-weight: 700
}

._2NpMR {
	background: #fff
}

._384Cg {
	text-align: right
}

._1TlYW {
	text-transform: uppercase
}

.KDcaV {
	border-radius: 6px
}

.Qsmw7 {
	font-size: 14px
}

._3z5kN {
	visibility: hidden
}

._1J8qI {
	box-shadow: 0 3px 20px 0 rgba(0, 0, 0, .23)
}

.gYWTH {
	float: left
}

._2W3w0 {
	float: right
}

._1asib {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

._27LOy {
	padding: 16px;
	color: #f05965;
	background-color: rgba(240, 89, 101, .08);
	font-size: 14px;
	width: 100%
}

._2HYzo {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .7)
}

@media screen and (max-width:960px) {
	._3DUvl {
		display: block;
		position: fixed;
		left: 0;
		bottom: 0;
		margin: 0;
		width: 100%;
		z-index: 100
	}
}

._3KwHz {
	width: 33%;
	margin-left: 1%
}

@media screen and (max-width:960px) {
	._3KwHz {
		width: 100%;
		margin: 0
	}
}

._2VfM9 {
	margin-bottom: 16px;
	padding: 0;
	box-shadow: none;
	background-color: transparent;
	border-radius: 6px;
	font-size: 14px;
	line-height: 1.5
}

@media screen and (max-width:960px) {
	._2VfM9 {
		border-radius: 0;
		box-shadow: none;
		margin-bottom: 0;
		padding: 0;
		background-color: transparent
	}
}

.MgE0l {
	background-color: transparent;
	font-size: 16px;
	font-weight: 700;
	text-align: left;
	text-transform: uppercase;
	line-height: 1.5;
	padding: 16px 0;
	color: #4f585e
}

@media screen and (max-width:960px) {
	.MgE0l {
		font-size: 14px;
		padding: 24px 16px 16px;
		height: auto;
		line-height: 1.25;
		background-color: transparent
	}
}

._27WJL {
	padding: 24px;
	box-shadow: 0 3px 20px 0 rgba(0, 0, 0, .23);
	background-color: #fff;
	border-radius: 6px
}

@media screen and (max-width:960px) {
	._27WJL {
		padding: 16px;
		box-shadow: none;
		background-color: #fff;
		border-radius: 0
	}
}

._7R4p3 {
	max-width: 1024px;
	margin: 0 auto
}

._28YDh {
	overflow: hidden
}

@-webkit-keyframes _3K6PE {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg)
	}
	to {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg)
	}
}

@keyframes _3K6PE {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg)
	}
	to {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg)
	}
}

@-webkit-keyframes _2D-X4 {
	0% {
		background-color: #7ed321
	}
	to {
		background-color: rgba(126, 211, 33, .5)
	}
}

@keyframes _2D-X4 {
	0% {
		background-color: #7ed321
	}
	to {
		background-color: rgba(126, 211, 33, .5)
	}
}

@-webkit-keyframes _1qQnS {
	0% {
		opacity: .2
	}
	20% {
		opacity: 1
	}
	to {
		opacity: .2
	}
}

@keyframes _1qQnS {
	0% {
		opacity: .2
	}
	20% {
		opacity: 1
	}
	to {
		opacity: .2
	}
}

._1KLNT {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	background-color: #013446;
	padding: 16px;
	box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, .12);
	color: #fff
}

@media screen and (min-width:961px) {
	._1KLNT {
		text-align: center
	}
}

@media screen and (min-width:961px) {
	._1KLNT ._3CIjC,
	._1KLNT ._307h5 {
		width: auto;
		display: inline-block;
		vertical-align: middle
	}
}

._307h5 {
	margin-bottom: 16px
}

@media screen and (min-width:961px) {
	._307h5 {
		margin-right: 16px;
		margin-bottom: 0
	}
}

._1uHph,
._23pTk {
	display: inline-block;
	vertical-align: top
}

@media screen and (min-width:961px) {
	._1uHph,
	._23pTk {
		vertical-align: middle
	}
}

._23pTk {
	margin-right: 16px
}

._23pTk,
._23pTk svg {
	width: 32px;
	height: 32px
}

._23pTk svg {
	color: #8bd3dd
}

._1uHph {
	width: calc(100% - 48px)
}

@media screen and (min-width:961px) {
	._1uHph {
		text-align: left
	}
}

@media screen and (min-width:961px) {
	._2OmNr,
	._2XIVt {
		display: inline-block;
		vertical-align: middle
	}
}

._2XIVt {
	font-size: 14px;
	font-weight: 700
}

._2OmNr {
	font-size: 12px
}

@media screen and (min-width:961px) {
	._2OmNr {
		margin-left: 4px
	}
}

@media screen and (min-width:961px) {
	._3CIjC {
		padding: 8px 16px
	}
}

.PpJxT {
	padding-top: 120px;
	display: block
}

@media screen and (min-width:961px) {
	.PpJxT {
		padding-top: 0
	}
}

.HealthcareOrderDetailsMainContainer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between
}

@media screen and (max-width:960px) {
	.HealthcareOrderDetailsMainContainer {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		background-color: #f2f2f2;
		position: relative;
		padding-bottom: 40px
	}
}

.HealthcareOrderDetailsMainContainer .tabHeaderWrapper {
	background: #10847e;
	width: 100%;
	position: fixed;
	top: 55px;
	z-index: 2;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px
}

.HealthcareOrderDetailsMainContainer .tabHeaderWrapper .tabHeader {
	display: inline-block;
	width: 50%;
	text-align: center;
	padding-bottom: 13px;
	transition: all .2s ease;
	padding-top: 16px
}

.HealthcareOrderDetailsMainContainer .tabHeaderWrapper .tabHeader.activeHeader {
	border-bottom: 3px solid #fff
}

.HealthcareOrderDetailsMainContainer>.orderDetailCTABox {
	display: none
}

@media screen and (max-width:960px) {
	.HealthcareOrderDetailsMainContainer>.orderDetailCTABox {
		display: block
	}
}

.HealthcareOrderDetailsMainContainer .orderDetailsContent {
	width: 65%
}

@media screen and (max-width:960px) {
	.HealthcareOrderDetailsMainContainer .orderDetailsContent {
		width: 100%;
		z-index: 1;
		margin-top: 48px
	}
}

.HealthcareOrderDetailsMainContainer .orderDetailSidebarContainer {
	width: 33%;
	margin-left: 2%
}

@media screen and (max-width:960px) {
	.HealthcareOrderDetailsMainContainer .orderDetailSidebarContainer {
		width: 100%;
		margin-left: 0
	}
}

@media screen and (max-width:960px) {
	.HealthcareOrderDetailsMainContainer .orderDetailSidebarContainer>.orderDetailCTABox {
		display: none
	}
}

.WP2F6 ._1X3VS>.EeeBd>a,
.WP2F6 ._1X3VS>.EeeBd>a:focus,
.WP2F6 ._1X3VS>.EeeBd>a:hover {
	color: #33e0ff;
	background-color: transparent
}

.WP2F6 ._1X3VS>li>a {
	color: #fff
}

._36yuf {
	clear: both
}

@media screen and (max-width:960px) {
	._2Yo0E {
		display: none!important
	}
}

.BLxw7 {
	display: none!important
}

@media screen and (max-width:960px) {
	.BLxw7 {
		display: inherit!important
	}
}

._1P-f6 {
	width: 100%
}

._21htb {
	font-weight: 700
}

._3mFIQ {
	background: #fff
}

.TQq2f {
	text-align: right
}

._2pWed {
	text-transform: uppercase
}

._2Wnjx {
	border-radius: 6px
}

._3xcQv {
	font-size: 14px
}

.zF7_5 {
	visibility: hidden
}

.KAwBj {
	box-shadow: 0 3px 20px 0 rgba(0, 0, 0, .23)
}

._3Ae-4 {
	float: left
}

._1jFJX {
	float: right
}

._3XtFf {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.gpZjd {
	padding: 16px;
	color: #f05965;
	background-color: rgba(240, 89, 101, .08);
	font-size: 14px;
	width: 100%
}

._3_Xxo {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .7)
}

@media screen and (max-width:960px) {
	._2EHJc {
		display: block;
		position: fixed;
		left: 0;
		bottom: 0;
		margin: 0;
		width: 100%;
		z-index: 100
	}
}

._2Uwpk {
	width: 33%;
	margin-left: 1%
}

@media screen and (max-width:960px) {
	._2Uwpk {
		width: 100%;
		margin: 0
	}
}

._18Tsq {
	margin-bottom: 16px;
	padding: 0;
	box-shadow: none;
	background-color: transparent;
	border-radius: 6px;
	font-size: 14px;
	line-height: 1.5
}

@media screen and (max-width:960px) {
	._18Tsq {
		border-radius: 0;
		box-shadow: none;
		margin-bottom: 0;
		padding: 0;
		background-color: transparent
	}
}

._1WtEm {
	background-color: transparent;
	font-size: 16px;
	font-weight: 700;
	text-align: left;
	text-transform: uppercase;
	line-height: 1.5;
	padding: 16px 0;
	color: #4f585e
}

@media screen and (max-width:960px) {
	._1WtEm {
		font-size: 14px;
		padding: 24px 16px 16px;
		height: auto;
		line-height: 1.25;
		background-color: transparent
	}
}

._38jfI {
	padding: 24px;
	box-shadow: 0 3px 20px 0 rgba(0, 0, 0, .23);
	background-color: #fff;
	border-radius: 6px
}

@media screen and (max-width:960px) {
	._38jfI {
		padding: 16px;
		box-shadow: none;
		background-color: #fff;
		border-radius: 0
	}
}

._3dWoq {
	max-width: 1024px;
	margin: 0 auto
}

._3McEJ {
	overflow: hidden
}

@-webkit-keyframes _34Bnj {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg)
	}
	to {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg)
	}
}

@keyframes _34Bnj {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg)
	}
	to {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg)
	}
}

@-webkit-keyframes _5Q94G {
	0% {
		background-color: #7ed321
	}
	to {
		background-color: rgba(126, 211, 33, .5)
	}
}

@keyframes _5Q94G {
	0% {
		background-color: #7ed321
	}
	to {
		background-color: rgba(126, 211, 33, .5)
	}
}

@-webkit-keyframes _1lN2A {
	0% {
		opacity: .2
	}
	20% {
		opacity: 1
	}
	to {
		opacity: .2
	}
}

@keyframes _1lN2A {
	0% {
		opacity: .2
	}
	20% {
		opacity: 1
	}
	to {
		opacity: .2
	}
}

._2mTOw {
	background-color: #fff;
	box-shadow: 0 3px 20px 0 rgba(0, 0, 0, .23);
	border-radius: 6px;
	margin-bottom: 8px
}

@media screen and (max-width:960px) {
	._2mTOw {
		border-radius: 0;
		box-shadow: none
	}
}

.ZeDVy {
	display: block;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin: 0 24px;
	padding: 24px 0;
	border-bottom: 1px solid rgba(0, 0, 0, .12)
}

@media screen and (max-width:960px) {
	.ZeDVy {
		margin: 0;
		padding: 16px
	}
}

._2vCS5 {
	padding: 24px
}

@media screen and (max-width:960px) {
	._2vCS5 {
		padding: 24px 16px 16px
	}
}

._217or {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	position: relative
}

._2tYiJ {
	color: #ffffff;
	font-size: 16px;
}
div#orderStatusContainer {
    margin-bottom: 25px;
}

@media screen and (max-width:960px) {
	._3aKoJ {
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start
	}
	._2aRAc,
	._3aKoJ {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex
	}
	._2aRAc {
		-webkit-box-pack: end;
		-ms-flex-pack: end;
		justify-content: flex-end
	}
}

._374y6 {
	color: #ffffff;
	font-size: 16px;
	margin-left: 8px
}

@media screen and (max-width:960px) {
	._374y6 {
		margin-left: 0
	}
}

@media screen and (max-width:960px) {
	._3Vk7a {
		margin-left: 8px;
		text-align: right
	}
}

._2CHX6 {
	margin-top: 8px;
	font-size: 14px
}

@media screen and (max-width:960px) {
	._2CHX6 {
		font-size: 12px
	}
}

._1kf4y {
	color: #4f585e;
	font-size: 12px;
	margin-top: 8px;
	width: 100%
}

._27Wwk {
	border-radius: 6px;
	background-color: #2196F3;
	padding: 16px 24px;
	margin-top: 16px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

@media screen and (max-width:960px) {
	._27Wwk {
		padding: 16px
	}
}

@media screen and (max-width:960px) {
	._27Wwk._1FOxy {
		display: none
	}
}

._22qPT {
	width: 24px;
	margin-right: 24px
}

@media screen and (max-width:960px) {
	._22qPT {
		display: none
	}
}

@media screen and (max-width:960px) {
	._3w7sW {
		width: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between
	}
}

._1doJY {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end
}

@media screen and (max-width:960px) {
	._1doJY {
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start
	}
}

._1VZEk {
	font-size: 14px;
	font-weight: 700;
	color: #10847e;
	cursor: pointer;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

@media screen and (max-width:960px) {
	._1VZEk {
		width: 100%;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between
	}
}

._2iQF7 {
	padding: 24px;
	padding-top: 0
}

@media screen and (max-width:960px) {
	._2iQF7 {
		padding: 16px;
		padding-top: 0;
		line-height: 0
	}
}

._1BNYc {
	text-decoration: line-through
}

._26nvV {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	position: absolute;
	right: 0;
	top: 0
}

._6ojfz {
	border-radius: 6px;
	padding: 8px 16px;
	color: #013446;
	border: 1px solid #013446
}

._210xg ._2JjnC>._15oh0>a,
._210xg ._2JjnC>._15oh0>a:focus,
._210xg ._2JjnC>._15oh0>a:hover {
	color: #33e0ff;
	background-color: transparent
}

._210xg ._2JjnC>li>a {
	color: #fff
}

._2NBqZ {
	clear: both
}

@media screen and (max-width:960px) {
	._3GETQ {
		display: none!important
	}
}

._1loYz {
	display: none!important
}

@media screen and (max-width:960px) {
	._1loYz {
		display: inherit!important
	}
}

._3vH7n {
	width: 100%
}

._2DACS {
	font-weight: 700
}

.G7b3P {
	background: #fff
}

._1YyyS {
	text-align: right
}

._2j0_S {
	text-transform: uppercase
}

._2efmy {
	border-radius: 6px
}

._2E6c5 {
	font-size: 14px
}

._3DlAh {
	visibility: hidden
}

._24T2f {
	box-shadow: 0 3px 20px 0 rgba(0, 0, 0, .23)
}

._35am7 {
	float: left
}

._3thby {
	float: right
}

._9PQvr {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

._1ftEx {
	padding: 16px;
	color: #f05965;
	background-color: rgba(240, 89, 101, .08);
	font-size: 14px;
	width: 100%
}

._1ULhc {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .7)
}

@media screen and (max-width:960px) {
	._3hHpm {
		display: block;
		position: fixed;
		left: 0;
		bottom: 0;
		margin: 0;
		width: 100%;
		z-index: 100
	}
}

._37UmV {
	width: 33%;
	margin-left: 1%
}

@media screen and (max-width:960px) {
	._37UmV {
		width: 100%;
		margin: 0
	}
}

._3O9k3 {
	margin-bottom: 16px;
	padding: 0;
	box-shadow: none;
	background-color: transparent;
	border-radius: 6px;
	font-size: 14px;
	line-height: 1.5
}

@media screen and (max-width:960px) {
	._3O9k3 {
		border-radius: 0;
		box-shadow: none;
		margin-bottom: 0;
		padding: 0;
		background-color: transparent
	}
}

._30T47 {
	background-color: transparent;
	font-size: 16px;
	font-weight: 700;
	text-align: left;
	text-transform: uppercase;
	line-height: 1.5;
	padding: 16px 0;
	color: #4f585e
}

@media screen and (max-width:960px) {
	._30T47 {
		font-size: 14px;
		padding: 24px 16px 16px;
		height: auto;
		line-height: 1.25;
		background-color: transparent
	}
}

._236pn {
	padding: 24px;
	box-shadow: 0 3px 20px 0 rgba(0, 0, 0, .23);
	background-color: #fff;
	border-radius: 6px
}

@media screen and (max-width:960px) {
	._236pn {
		padding: 16px;
		box-shadow: none;
		background-color: #fff;
		border-radius: 0
	}
}

._3wys- {
	max-width: 1024px;
	margin: 0 auto
}

._2Sn5T {
	overflow: hidden
}

@-webkit-keyframes _2Y8uK {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg)
	}
	to {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg)
	}
}

@keyframes _2Y8uK {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg)
	}
	to {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg)
	}
}

@-webkit-keyframes TxRyE {
	0% {
		background-color: #7ed321
	}
	to {
		background-color: rgba(126, 211, 33, .5)
	}
}

@keyframes TxRyE {
	0% {
		background-color: #7ed321
	}
	to {
		background-color: rgba(126, 211, 33, .5)
	}
}

@-webkit-keyframes _18OHl {
	0% {
		opacity: .2
	}
	20% {
		opacity: 1
	}
	to {
		opacity: .2
	}
}

@keyframes _18OHl {
	0% {
		opacity: .2
	}
	20% {
		opacity: 1
	}
	to {
		opacity: .2
	}
}

._1Z5KP {
	margin-top: 24px;
	background-color: #fff;
	box-shadow: 0 3px 20px 0 rgba(0, 0, 0, .23);
	border-radius: 6px;
	overflow: hidden
}

@media screen and (max-width:960px) {
	._1Z5KP {
		display: none;
		margin-bottom: 0;
		margin-top: 0;
		border-radius: 0;
		box-shadow: none
	}
}

._3wd_P {
	display: none
}

@media screen and (max-width:960px) {
	._3wd_P {
		display: block
	}
}

._3J-Qm {
	margin-bottom: 8px
}

.-DnuQ {
	padding: 16px 16px 0;
	font-size: 16px;
	font-weight: 700;
	color: #8897a2
}

@media screen and (max-width:960px) {
	.-DnuQ {
		display: none
	}
}

._1e9l7,
.ez2gn {
	margin: 0;
	width: 100%;
	box-sizing: border-box;
	background-color: #013446;
	color: #fff;
	height: 40px;
	display: block;
	box-shadow: none
}

@media screen and (max-width:960px) {
	._1e9l7,
	.ez2gn {
		margin: 0;
		border-radius: 0
	}
}

._20aqf {
	border-radius: 6px;
	padding: 16px
}

@media screen and (max-width:960px) {
	._20aqf {
		padding: 0;
		border-radius: 0;
		box-shadow: none
	}
}

._1rqdX {
	padding: 16px
}

._3JFDN,
._16SW5 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column
}

@media screen and (max-width:960px) {
	._3JFDN,
	._16SW5 {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex
	}
}

._1O90s {
	border: 1px solid;
	margin: 8px 0
}

@media screen and (max-width:960px) {
	._1O90s {
		margin: 0 4px;
		font-size: 12px
	}
	._1O90s:first-of-type {
		margin-left: 0
	}
	._1O90s:last-of-type {
		margin-right: 0
	}
}

._1O90s:hover {
	color: #fff;
	background-color: #041d25
}

._1O90s:first-of-type {
	margin-top: 0
}

._1O90s:last-of-type {
	margin-bottom: 0
}

._2DkLS {
	color: #10847e
}

._2VRj5 {
	overflow: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background-color: #fff;
	padding: 24px 16px
}

@media screen and (max-width:960px) {
	._2VRj5 {
		padding: 0;
		margin-bottom: 0
	}
}

._3JFDN {
	padding-bottom: 0;
	margin-bottom: 16px
}

@media screen and (max-width:960px) {
	._3JFDN {
		margin-bottom: 0
	}
}

.wUsFB {
	width: 100%;
	overflow: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 0;
	margin: 4px 0
}

.wUsFB:first-child {
	margin-top: 0
}

.wUsFB:last-child {
	margin-bottom: 0
}

@media screen and (max-width:960px) {
	.wUsFB {
		padding: 0;
		margin: 0
	}
}

.HnSVQ {
	padding: 16px;
	background-color: #fefcb2
}

body1,
html {
	font-size: 14px
}

body1 {
	font-family: Open Sans, sans-serif;
	line-height: 1.25;
	background-color: #f2f2f2
}

@media screen and (max-width:960px) {
	body1 {
		background-color: #f2f2f2
	}
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
	color: #33e0ff;
	background-color: transparent
}

.navbar-default .navbar-nav>li>a {
	color: #fff
}

.clearFix {
	clear: both
}

@media screen and (max-width:960px) {
	.showDesktop {
		display: none!important
	}
}

.showMobile {
	display: none!important
}

@media screen and (max-width:960px) {
	.showMobile {
		display: inherit!important
	}
}

input,
textarea {
	resize: none;
	outline: none
}

input:focus,
textarea:focus {
	outline: none
}

.u-fullWidth {
	width: 100%
}

.u-boldText {
	font-weight: 700
}

.u-bgWhite {
	background: #fff
}

.u-textRight {
	text-align: right
}

.u-textUppercase {
	text-transform: uppercase
}

.u-boxRadius {
	border-radius: 6px
}

.u-fontSize14 {
	font-size: 14px
}

.u-hidden {
	visibility: hidden
}

.u-boxShadow {
	box-shadow: 0 3px 20px 0 rgba(0, 0, 0, .23)
}

.u-floatLeft {
	float: left
}

.u-floatRight {
	float: right
}

.u-textEllipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.alertTextRefill {
	padding: 16px;
	color: #f05965;
	background-color: rgba(240, 89, 101, .08);
	font-size: 14px;
	width: 100%
}

.u-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .7)
}

@media screen and (max-width:960px) {
	.u-fixedToMobileBottom {
		display: block;
		position: fixed;
		left: 0;
		bottom: 0;
		margin: 0;
		width: 100%;
		z-index: 100
	}
}

.sidebar1 {
	width: 33%;
	margin-left: 1%
}

@media screen and (max-width:960px) {
	.sidebar1 {
		width: 100%;
		margin: 0
	}
}

.sidebarCard {
	margin-bottom: 16px;
	padding: 0;
	box-shadow: none;
	background-color: transparent;
	border-radius: 6px;
	font-size: 14px;
	line-height: 1.5
}

@media screen and (max-width:960px) {
	.sidebarCard {
		border-radius: 0;
		box-shadow: none;
		margin-bottom: 0;
		padding: 0;
		background-color: transparent
	}
}

.sidebarCardHeader {
	background-color: transparent;
	font-size: 16px;
	font-weight: 700;
	text-align: left;
	text-transform: uppercase;
	line-height: 1.5;
	padding: 16px 0;
	color: #4f585e
}

@media screen and (max-width:960px) {
	.sidebarCardHeader {
		font-size: 14px;
		padding: 24px 16px 16px;
		height: auto;
		line-height: 1.25;
		background-color: transparent
	}
}

.sidebarCardContent {
	padding: 24px;
	box-shadow: 0 3px 20px 0 rgba(0, 0, 0, .23);
	background-color: #fff;
	border-radius: 6px
}

@media screen and (max-width:960px) {
	.sidebarCardContent {
		padding: 16px;
		box-shadow: none;
		background-color: #fff;
		border-radius: 0
	}
}

.peWidthWrapper {
	max-width: 1024px;
	margin: 0 auto
}

.noScroll {
	overflow: hidden
}

@-webkit-keyframes rotation {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg)
	}
	to {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg)
	}
}

@keyframes rotation {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg)
	}
	to {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg)
	}
}

@-webkit-keyframes blinkingCurrentStatus {
	0% {
		background-color: #7ed321
	}
	to {
		background-color: rgba(126, 211, 33, .5)
	}
}

@keyframes blinkingCurrentStatus {
	0% {
		background-color: #7ed321
	}
	to {
		background-color: rgba(126, 211, 33, .5)
	}
}

@-webkit-keyframes blink {
	0% {
		opacity: .2
	}
	20% {
		opacity: 1
	}
	to {
		opacity: .2
	}
}

@keyframes blink {
	0% {
		opacity: .2
	}
	20% {
		opacity: 1
	}
	to {
		opacity: .2
	}
}

._2tjTy {
	margin-top: 24px;
	margin-bottom: 16px
}

@media screen and (max-width:960px) {
	._2tjTy {
		margin: 0;
		top: 105px
	}
}

@media screen and (max-width:960px) {
	._3ULuf {
		padding-top: 120px
	}
}

.MedicineOrderDetailsMainContainer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between
}

@media screen and (max-width:960px) {
	.MedicineOrderDetailsMainContainer {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		background-color: #f2f2f2;
		position: relative;
		padding-bottom: 40px
	}
}

.MedicineOrderDetailsMainContainer .tabHeaderWrapper {
	background: #10847e;
	width: 100%;
	position: fixed;
	top: 55px;
	z-index: 2;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px
}

.MedicineOrderDetailsMainContainer .tabHeaderWrapper .tabHeader {
	display: inline-block;
	width: 50%;
	text-align: center;
	padding-bottom: 14px;
	transition: all .2s ease;
	padding-top: 16px
}

.MedicineOrderDetailsMainContainer .tabHeaderWrapper .tabHeader.activeHeader {
	border-bottom: 3px solid #fff
}

.MedicineOrderDetailsMainContainer>.orderDetailCTABox {
	display: none
}

@media screen and (max-width:960px) {
	.MedicineOrderDetailsMainContainer>.orderDetailCTABox {
		display: block
	}
}

.MedicineOrderDetailsMainContainer .orderDetailsContent {
	width: 66%
}

@media screen and (max-width:960px) {
	.MedicineOrderDetailsMainContainer .orderDetailsContent {
		width: 100%;
		z-index: 1;
		margin-top: 48px
	}
}

.MedicineOrderDetailsMainContainer .orderDetailSidebarContainer {
	width: calc(34% - 24px);
	margin-left: 24px;
	margin-top: 32px
}

@media screen and (max-width:960px) {
	.MedicineOrderDetailsMainContainer .orderDetailSidebarContainer {
		margin-top: 0;
		width: 100%;
		margin-left: 0
	}
}

@media screen and (max-width:960px) {
	.MedicineOrderDetailsMainContainer .orderDetailSidebarContainer>.orderDetailCTABox {
		display: none
	}
}