html, body { height: 100%;}
body { color:#6b6b6b; font-size: 13px; }
#wrapper { min-height: 100%; position: relative;}
#content {padding-bottom:100px;}
h1 {font-size:30px; }
nav.navbar, div.left-side, h1 {text-transform: uppercase; }
input.form-control, textarea.form-control {border:1px solid #dadada; border-radius: 0; box-shadow:none;}
.login-container{    position: relative;    width: 300px;    margin: 80px auto;    padding: 20px 40px 40px;    text-align: center;    background: #fff;    border: 1px solid #ccc;}
#output{    position: absolute;    width: 300px;    top: -75px;    left: 0;    color: #fff;}
#output.alert-success{    background: rgb(25, 204, 25);}
#output.alert-danger{    background: rgb(228, 105, 105);}
.login-container::before,.login-container::after{    content: "";    position: absolute;    width: 100%;height: 100%;    top: 3.5px;left: 0;    background: #fff;    z-index: -1;    -webkit-transform: rotateZ(4deg);    -moz-transform: rotateZ(4deg);    -ms-transform: rotateZ(4deg);    border: 1px solid #ccc;}
.login-container::after{    top: 5px;    z-index: -2;    -webkit-transform: rotateZ(-2deg);     -moz-transform: rotateZ(-2deg);      -ms-transform: rotateZ(-2deg);}
.avatar{    width: 100px;height: 100px;    margin: 10px auto 30px;    border-radius: 100%;    border: 2px solid #aaa;    background-size: cover;}
.form-box input{    width: 100%;    padding: 10px;    text-align: center;    height:40px;    border: 1px solid #ccc;    background: #fafafa;    transition:0.2s ease-in-out;}
.form-box input:focus{    outline: 0;    background: #eee;}
.form-box input[type="text"]{    border-radius: 5px 5px 0 0;    text-transform: lowercase;}
.form-box input[type="password"]{    border-radius: 0 0 5px 5px;    border-top: 0;}
.form-box button.login{    margin-top:15px;    padding: 10px 20px;}
.animated {  -webkit-animation-duration: 1s;  animation-duration: 1s;  -webkit-animation-fill-mode: both;  animation-fill-mode: both;}
.theSliderDescrption {display:none;}
.more-info-purchase > tbody > tr > td, .more-info-purchase > tbody > tr > th, .more-info-purchase > tfoot > tr > td, .more-info-purchase > tfoot > tr > th, .more-info-purchase > thead > tr > td, .more-info-purchase > thead > tr > th {border-top: none; border-bottom: 1px solid #ddd;}
.cookie-law-themes { padding-top: 20px; padding-bottom: 20px; margin-left: 10px; margin-right: 10px;}
.cookie-law-themes a .theme {margin-bottom:10px;}
.cookie-law-themes a .ok {display:none; position: absolute; width:40px; top:0; left:0;}
.show-menu {display: none;}
#show-xs-nav { border: 1px solid #666;  padding: 5px; text-decoration: none; color: #666;  font-size: 13px; text-align: center; margin-top: 10px; border-radius: 5px;}
#nav-categories, #show-xs-nav .hidde-sp {display: none;}
.confirm-result {position:absolute; bottom:0; right:0;}
#calc-board {width:200px; margin:0 auto;}
#calc-board a {margin-bottom:5px; box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05); border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #b3b3b3; background: #ffffff;  background: -moz-linear-gradient(top,  #ffffff 0%, #e6e6e6 100%);  background: -webkit-linear-gradient(top,  #ffffff 0%,#e6e6e6 100%); background: linear-gradient(to bottom,  #ffffff 0%,#e6e6e6 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e6e6',GradientType=0 ); color:#333;}
.other-img {display: inline-block; position:relative;}
.other-img a {position:absolute; right:0; top:0; background-color: #fff; color:red;}
.selected-template {height: 50px; position: absolute; left:25px; top:10px;}
.header-img {float: left;height: 40px;margin-right: 10px;margin-top: -10px;}
.divLangs { padding:10px; margin-bottom: 10px;}
#new-style {border-radius: 0;}
#categorieEditor {position: absolute; display: none; width:230px;}
#categorieEditor input, #categorieEditor button {float: left;}
#categorieEditor input {width: 150px;}
#categorieEditor .yesSaveEdit {display: none;}
#categorieEditor button {width:39px;}
#categorieSubEdit {display: none; position: absolute;}
#categorieSubEdit button {width:200px;}
.locale-container {display: none;}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

.fadeInUp {  -webkit-animation-name: fadeInUp;  animation-name: fadeInUp;}
nav.navbar {z-index: 55;}
nav.navbar a { color:#fff;}
nav.navbar li a:hover, nav.navbar li a:focus, nav.navbar li a:active {background-color: transparent;}
.navbar-nav li a i {margin-right: 7px;}
nav.navbar ul.dropdown-menu li {margin-bottom: 3px;}
nav.navbar ul.dropdown-menu li a { color:#333;}
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {background-color: transparent;}
div.left-side { border-right:1px solid #e7e7e7; padding:0; bottom: 0;  display: block;left: 0; overflow: auto;position: absolute;    top: 51px;}
div.left-side ul.sidebar-menu {list-style: none; margin:0 0 80px;padding:0;}
div.left-side ul.sidebar-menu li {margin: 0; padding: 0; position: relative; border-bottom: 1px solid #e7e7e7;}
div.left-side ul.sidebar-menu li a {display: block;   border-left: 3px solid transparent;  color: #337ab7;    padding: 12px 5px 12px 15px; }
div.left-side ul.sidebar-menu li a i {margin-right: 7px;}
div.left-side ul.sidebar-menu li a:hover, div.left-side ul.sidebar-menu li a.active { background-color: #000; text-decoration: none; }
div.left-side ul.sidebar-menu li.header {  color: #4b646f; padding: 12px 5px 12px 15px; }
.sidebar-menu .sidebar-search {padding: 15px !important;}
div.left-side span.alert-admin {padding-left:10px; padding-right: 10px; padding-bottom: 10px; display: inline-block;}
.custab{ border: 1px solid #ccc;  padding: 5px; box-shadow: 3px 3px 2px #ccc; transition: 0.5s; }
.custab:hover{ box-shadow: 3px 3px 0px transparent; transition: 0.5s;}
.relative {position:relative;}
.settings {position: absolute; width:320px;  z-index: 1000; display: none; color:#222d32 !important;}
.settings .panel-body a:hover, .settings .panel-body a:focus {background-color: #2989d8;}
.settings #pass_result {display:none;}
ul.list-none {list-style:none;}
.red {color:red}
.green {color:green}
div.well {margin-top:15px;}
h3.title {word-break: break-all;overflow: hidden;}
.find {margin-bottom:36px;}
a.article-image img {height:250px;}
div.article.invisible-status {opacity:0.4;}
span.dropdown-toggle {cursor: pointer;}
.url {overflow: hidden;}
.url a {word-break: break-all;}
.description-article {max-height: 140px; overflow:hidden; margin-bottom:10px;}
#categories a.btn-xs {margin-bottom: 15px;}
footer {padding: 20px 0; color:#333; text-align: center; background-color: #f8f8f8; border-top:1px solid #e7e7e7; width:100%;height:60px;position:absolute;bottom:0;left:0;}
footer a {color:#333; text-decoration:underline;}
.orders-settings { margin-top: -60px; font-size:20px; color:#6b6b6b;}
.orders-settings span {display: block;}
.orders-settings i {margin-left: 24px;}
.home-page .fast-view-panel {height: 130px;}
.home-page .panel-green {border-color: #5cb85c;}
.home-page .panel-green .panel-heading { background-color: #5cb85c; border-color: #5cb85c; color: #fff;}
.home-page .panel-yellow {  border-color: #f0ad4e;}
.home-page .panel-yellow .panel-heading {  background-color: #f0ad4e;    border-color: #f0ad4e;    color: #fff;}
.home-page .panel-red {  border-color: #d9534f;}
.home-page .panel-red .panel-heading {   background-color: #d9534f;  border-color: #d9534f;  color: #fff;}
.home-page .huge {font-size: 40px;}
.home-page .panel {font-size:14px;}
a.orders-referral {display:block; word-break:break-all;}
.bordered-group {border:1px solid #e7e7e7; padding: 5px;}
.loadUploadOthers {display: none;}
.others-images-container {margin-bottom: 5px;}
#positionEditor {position: absolute; display: none; width:230px;}
#positionEditor input, #positionEditor button {float: left;}
#positionEditor input {width: 150px;}
#positionEditor .yesSavePosition {display: none;}
#positionEditor button {width:39px;}

@media (min-width: 767px) {
    .sidebar-menu {display: block !important;}
}

@media screen and (max-width: 767px) {
    .left-side {position:relative !important; top:0 !important; margin-bottom: 20px;}
    nav.navbar {margin-bottom:0;}
    nav.navbar .navbar-brand {height:55px;}
    .settings {position: relative;}
    .show-menu {display: block; padding:0 10px !important;}
    .sidebar-menu {display: none;}
}

